.footerbox {
  position: relative;
  height: auto;
}

.footer {
  width: 100vw;
  height: 35vh;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  /* From https://css.glass */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.31);
}

.footerlinks {
  width: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 6rem 0 6rem;
}

.footertext {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.8rem;
  font-weight: 200;
  margin: 0 6rem 0 6rem;
}

.footertext > p {
  margin: 2rem 1rem;
}

.footerlinks > span {
  font-size: 2rem;
  font-weight: 600;
}

.footerlinks > p {
  font-size: 0.8rem;
  font-weight: lighter;
}

.socialnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
.footerlinks > ul > li {
  margin: 0 1rem 0 1rem;
}

.footerblur {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: auto;
}

.sociallinks {
  display: flex;
  justify-content: space-between;
}

.sociallinks > img {
  margin: 0 1rem 0 1rem;
}
@media only screen and (max-width: 440px) {
  .footer {
    height: auto;
  }
  .footerlinks {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 0;
  }

  .footerlinks > span {
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: 700;
  }
  .socialnav {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 0;
    margin-left: 1rem;
  }

  .footerlinks > ul > li {
    margin-top: 0.7rem;
  }

  .sociallinks {
    padding-left: 0;
    margin-left: 1rem;
  }

  .sociallinks > img {
    margin: 0 0.5rem;
  }

  .footertext {
    flex-direction: column;
    margin-left: 1rem;
  }

  .footertext > p {
    margin: 0.7rem 1rem;
  }

  .footerblur {
    width: 100vw;
    bottom: 0;
  }
}
